@media (max-width: 768px) {
  #grid {
    display: inline;
  }

  #headline {
    width: 70vw;
  }

  .col {
    min-height: fill-available;
  }

  .col--1 {
    position: absolute;
    width: 80%;
    opacity: 80%;
  }

  .col--2 {
    width: 100vw;
  }
}
