#headline {
  position: absolute;
  top: 80%;
  left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  height: auto;
  z-index: 1;
}

#hero--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffeee0;
  background-image: url("/assets/climpek.png");
  z-index: 0;
}

#hero--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

#row--1--color {
  background-color: #d8d6c0;
}

#row--2--color {
  background-color: #c9eee6;
}

#row--3--color {
  background-color: #eed2c9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 10vw;
  font-family: "Abril Fatface";
}

#grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.col {
  position: relative;
  padding: 5rem;
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  background-image: url("https://transparenttextures.com/patterns/climpek.png");
}

.col--title {
  font-family: "Abril Fatface";
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  top: 60%;
}

.col--1 {
  z-index: 2;
}

.col--2 {
  padding: 0;
}

.bg {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
}

#bg--leaves {
  background-image: url("https://images.unsplash.com/photo-1605607344782-3c5dad0cb1cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80");
  background-size: cover;
}

#bg--berries {
  background-image: url("https://images.unsplash.com/photo-1605505027420-a74af00e6ee2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1857&q=80");
}

#bg--river {
  background-image: url("https://images.unsplash.com/photo-1605466407639-7f6ce8276fa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
}

@media (max-width: 768px) {
  #grid {
    display: inline;
  }
  #headline {
    width: 70vw;
  }
  .col--1 {
    position: absolute;
    width: 80%;
    opacity: 80%;
  }
  .col--2 {
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */