h1 {
  font-size: 15vw;
  font-family: 'Abril Fatface';
}

#grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, auto);
}
.col {
  position: relative;
  box-sizing: border-box;
  padding: 6rem;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(216, 214, 192, 0.85) 25.35%,
    rgba(216, 214, 192, 0) 100%
  );
}

.col2 {
  background-color: red;
}

#row1 {
  background-image: url(https://www.roomsforafrica.com/images/Weekend_Getaways_kagga_kamma.jpg);
}

@media (max-width: 768px) {
  #grid {
    display: inline;
  }
  .col1 {
    position: absolute;
    z-index: 3;
  }
  .col2 {
    z-index: 2;
    position: absolute;
    width: 100vw;
  }

}

/* .col2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
} */
